doctype 
html(lang='pl')
  head
    meta(charset="utf-8")
    title baner
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="/css/main.css", media="screen", title="no title", charset="utf-8")
  
  body
    .baner
      .baner-slider
        ul.baner-slider-list
          li
          li
          li
          li
          li
        a(href="http://www.madar.siedlce.pl" target="_blank").baner-text
          img(src="img/logo.png", alt="logo MADAR").baner-text-logo
          p.baner-text-hurt MADAR <br> Hurtownia Artykułów Dziecięcych
          p.baner-text-hurt Ujrzanów 282c 08-110 Siedlce
          p.baner-text-hurt e-sklep@madar.siedlce.pl tel./fax 025 644 37 71
          p.baner-text-hurt www.madar.siedlce.pl
          
      
    
      
      
    //- script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js", type="text/javascript", charset="utf-8")
    //- script(type="text/javascript", src="js/scripts.js")
    
      
  
  
